<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" (click)="toggleState()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> <!-- #1 -->
            <a class="navbar-brand">Pentagon Cafe</a>
        </div>
        <div class="collapse navbar-collapse" [ngClass]="{ 'in': isIn }">
            <navOptions></navOptions>
            <searchBar></searchBar>
            <accountDropdown></accountDropdown>
        </div>
    </div>
</nav>



