<ul class="nav navbar-nav navbar-right">
    <li class="dropdown"  dropdown>
        <button dropdownToggle
                class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown"
                type="button"
                aria-haspopup="true"
                aria-expanded="false">
            My account <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a href="#"><span class="glyphicon glyphicon-user"></span> My profile</a></li>
            <li role="menuitem"><a href="#"><span class="glyphicon glyphicon-folder-open"></span> My events</a></li>
            <li role="menuitem"><a href="#"><span class="glyphicon glyphicon-time"></span> Not confirmed events</a></li>
            <li role="menuitem"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> My calendar</a></li>
            <li role="menuitem"><a href="#"><span class="glyphicon glyphicon-forward"></span> Past events</a></li>
            <li role="separator" class="divider"></li>
            <li role="menuitem"><a href="#"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
        </ul>
    </li>
</ul>

