<div id="register" class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Register</h2>
            <form #registerForm="ngForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text"
                           value=""
                           class="form-control"
                           required pattern="^[A-ZĄĆĘŁŃÓŚŹŻ][a-zzżźćńółęąś]{2,19}$"
                           [(ngModel)]="registerModel.name"
                           name="name"
                           id="name"
                           #name="ngModel">
                </div>
                <div *ngIf="name.errors && (name.dirty || name.touched)" class="error-block">
                    <div [hidden]="!name.errors.required">
                        Name is required
                    </div>
                    <div [hidden]="!name.errors.pattern">
                        Name must start with big letter and have between 3 to 20 letters
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Surname</label>
                    <input type="text"
                           value=""
                           class="form-control"
                           required pattern="^[A-ZĄĆĘŁŃÓŚŹŻ][a-zzżźćńółęąś]{2,19}$"
                           [(ngModel)]="registerModel.surname"
                           name="surname"
                           id="surname"
                           #surname="ngModel">
                </div>
                <div *ngIf="surname.errors && (surname.dirty || surname.touched)" class="error-block">
                    <div [hidden]="!surname.errors.required">
                        Surname is required
                    </div>
                    <div [hidden]="!surname.errors.pattern">
                        Surname must start with big letter and have between 3 to 20 letters
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Nick</label>
                    <input type="text"
                           value=""
                           class="form-control"
                           required pattern="^[A-ZĄĆĘŁŃÓŚŹŻa-zzżźćńółęąś0-9]{3,30}$"
                           [(ngModel)]="registerModel.nick"
                           name="nick"
                           id="nick"
                           #nick="ngModel">
                </div>
                <div *ngIf="nick.errors && (nick.dirty || nick.touched)" class="error-block">
                    <div [hidden]="!nick.errors.required">
                        Nick is required
                    </div>
                    <div [hidden]="!nick.errors.pattern">
                        Nick must has between 3 to 30 letters or digits
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="text"
                           value=""
                           class="form-control"
                           required pattern="(^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.+[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@+(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$)"
                           [(ngModel)]="registerModel.email"
                           name="email"
                           id="email"
                           #email="ngModel">
                </div>
                <div *ngIf="email.errors && (email.dirty || email.touched)" class="error-block">
                    <div [hidden]="!email.errors.required">
                        E-mail is required
                    </div>
                    <div [hidden]="!email.errors.pattern">
                        Invalid e-mail format
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone number (optional)</label>
                    <input type="text"
                           value=""
                           class="form-control"
                           pattern="^$|^[0-9]{9,11}$"
                           [(ngModel)]="registerModel.phoneNumber"
                           name="phoneNumber"
                           id="phoneNumber"
                           #phoneNumber="ngModel">
                </div>
                <div *ngIf="phoneNumber.errors && (phoneNumber.dirty || phoneNumber.touched)" class="error-block">
                    <div [hidden]="!phoneNumber.errors.pattern">
                        Invalid phone number format
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password"
                           value=""
                           class="form-control"
                           required confirmationNotEqualPassword="passwordConfirm" reverse="true" [minlength]="5"
                           [(ngModel)]="registerModel.password"
                           name="password"
                           id="password"
                           #password="ngModel">
                </div>
                <div *ngIf="password.errors && (password.dirty || password.touched)" class="error-block">
                    <div [hidden]="!password.errors.required">
                        Password is required
                    </div>
                    <div [hidden]="!password.errors.minlength">
                        Password must have more than 5 characters
                    </div>
                    <div [hidden]="!password.errors.confirmationNotEqualPassword">
                        Password and password confirmation must be equal
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwordConfirm">Confirm password</label>
                    <input type="password"
                           value=""
                           class="form-control"
                           required confirmationNotEqualPassword="password"
                           [(ngModel)]="registerModel.passwordConfirm"
                           name="passwordConfirm"
                           id="passwordConfirm"
                           #passwordConfirm="ngModel">
                </div>
                <div *ngIf="passwordConfirm.errors && (passwordConfirm.dirty || passwordConfirm.touched)" class="error-block">
                    <div [hidden]="!passwordConfirm.errors.required">
                        Password confirmation is required
                    </div>
                    <div [hidden]="!passwordConfirm.errors.confirmationNotEqualPassword">
                        Password and password confirmation must be equal
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" [disabled]="isRegistrationInProgress || !registerForm.valid" class="btn btn-primary" (click)="register()">{{registerButtonName}}</button>
                    <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
                    <a [routerLink]="['/resendVerificationEMail']" class="btn btn-link">Resend mail</a>
                </div>
            </form>
        </div>
    </div>
</div>